@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?mflod7');
  src:  url('../fonts/icomoon/icomoon.eot?mflod7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?mflod7') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?mflod7') format('woff'),
    url('../fonts/icomoon/icomoon.svg?mflod7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caret-right:before {
  content: "\e906";
}
.icon-caret-left:before {
  content: "\e907";
}
.icon-caret-down:before {
  content: "\e908";
}
.icon-caret-up:before {
  content: "\e904";
}
.icon-phone:before {
  content: "\e903";
}
.icon-question:before {
  content: "\e900";
}
.icon-wrench-screwdriver:before {
  content: "\e90a";
}
.icon-car:before {
  content: "\e90b";
}
.icon-travel:before {
  content: "\e90b";
}
.icon-arrow-left:before {
  content: "\e909";
}
.icon-left:before {
  content: "\e909";
}
.icon-previous:before {
  content: "\e909";
}
.icon-back:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e905";
}
.icon-checkmark:before {
  content: "\e905";
}
.icon-camera:before {
  content: "\e901";
}
.icon-picture:before {
  content: "\e901";
}
.icon-film-play:before {
  content: "\e902";
}
.icon-video:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e92b";
}
.icon-close:before {
  content: "\e935";
}
.icon-arrow-return:before {
  content: "\e949";
}
